.three-review {

  border-radius: 8px;
  padding: 2rem;
  background: rgba(235, 228, 228, 0.281);

}

.three-review img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.red {
  color: rgba(255, 38, 0, 0.747);
}