.blue {
  color: blue;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-container p {
  margin: 0 20px;

}

.three-review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-bottom: 30px;
}

.all-review-btn {
  text-decoration: none;
  background: rgb(16, 57, 240);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;


}

.review-btn-container {
  margin-bottom: 30px;

}